*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::selection {
  background: #e5fdf3;
  color: springgreen;
}

.btn-hover {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--btn-border-1);
}
.btn-hover::before {
  position: absolute;
  content: "";
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-hover-bg-color-1);
  transition: all 0.4s ease;
}
.btn-hover:hover::before {
  left: 0;
}

input {
  cursor: pointer;
}
input:focus {
  border: none;
}

.warm-color-input,
.summer-color-input,
.pastel-color-input {
  position: fixed;
  left: 0;
  top: 50%;
  height: 3rem;
  width: 3rem;
  z-index: 9999;
}
.warm-color-input:before,
.summer-color-input:before,
.pastel-color-input:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170%;
  height: 170%;
  background-color: #eadbc8;
}

.summer-color-input {
  top: 60%;
}
.summer-color-input:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170%;
  height: 170%;
  background-color: #d4e7c5;
}

.pastel-color-input {
  top: 70%;
}
.pastel-color-input:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 170%;
  height: 170%;
  background-color: #4f6f52;
}

.warm-color-input:checked ~ .container > * {
  --header-section-bg-color: #eadbc8;
  --txt-color-1: #a58e74;
  --btn-border-1: #b79e8279;
  --font-weigh-200: 300;
  --btn-hover-bg-color-1: rgba(128, 128, 128, 0.216);
  --filter-grayscale-1: grayscale(16);
}

.summer-color-input:checked ~ .container > * {
  --header-section-bg-color: #d4e7c5;
}

.pastel-color-input:checked ~ .container > * {
  --header-section-bg-color: #4f6f52;
  --txt-color-1: #e0ccbe;
  --btn-border-1: #4f6f5229;
  --font-weigh-200: 300;
  --btn-hover-bg-color-1: #7390729c;
  --filter-grayscale-1: hue-rotate(306deg);
}

:root {
  --header-section-bg-color: transparent;
  --txt-color-1: #222;
  --btn-border-1: #33333324;
  --font-weigh-200: 200;
  --btn-hover-bg-color-1: springgreen;
  --filter-grayscale-1: grayscale(0);
}

html,
body {
  font-family: "Fraunces", serif;
  overflow-x: hidden;
}

.hero-section {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}
.hero-section figure {
  position: absolute;
}
@media only screen and (max-width: 837px) {
  .hero-section figure {
    position: unset;
  }
  .hero-section figure img {
    height: 100%;
  }
}
.hero-section figure img {
  width: 100%;
  object-fit: cover;
}
.hero-section__img-container-1 {
  max-width: 20vw;
  left: 6%;
  top: 23%;
}
@media only screen and (max-width: 1024px) {
  .hero-section__img-container-1 {
    max-width: 33vw;
    height: 50vw;
    left: 0;
    align-self: stretch;
  }
  .hero-section__img-container-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media only screen and (max-width: 834px) {
  .hero-section__img-container-1 {
    max-width: 70vw;
    height: 60vh;
    align-self: center;
  }
}
.hero-section__img-container-2 {
  max-width: 23rem;
  right: 25%;
  top: 19%;
}
@media only screen and (max-width: 1024px) {
  .hero-section__img-container-2 {
    max-width: 24vw;
  }
}
@media only screen and (max-width: 837px) {
  .hero-section__img-container-2 {
    display: none;
  }
}
.hero-section__img-container-3 {
  max-width: 20vw;
  right: 7%;
  bottom: 6%;
}
@media only screen and (max-width: 1024px) {
  .hero-section__img-container-3 {
    max-width: 32vw;
    right: 0;
  }
}
@media only screen and (max-width: 837px) {
  .hero-section__img-container-3 {
    display: none;
  }
}

header {
  width: 100%;
  transition: all 0.4s ease;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background: var(--header-section-bg-color);
}
header > * {
  color: var(--txt-color-1);
}
@media only screen and (max-width: 834px) {
  header {
    height: 5rem;
    padding: 2rem 1rem;
  }
}
header h1 {
  font-size: 3rem;
  font-weight: 200;
  text-wrap: nowrap;
  color: var(--txt-color-1);
}
@media only screen and (max-width: 834px) {
  header h1 {
    font-size: 2rem;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 877px) {
  header nav ul {
    display: none;
  }
}
header nav ul a {
  text-decoration: none;
  color: var(--txt-color-1);
  font-size: 1.5rem;
  text-wrap: nowrap;
  cursor: pointer;
}

.active {
  padding: 1rem 1.1rem;
  border-radius: 50px;
  border: 1px solid var(--btn-border-1);
}
.active h6 {
  font-size: 1.5rem;
  font-weight: var(--font-weigh-200);
}
.active a {
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: center;
}
.active a span {
  display: flex;
  align-items: center;
}
.active a span svg {
  width: 1.8rem;
}

.main-section {
  width: 100%;
  height: calc(100% - 12rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}
@media only screen and (max-width: 834px) {
  .main-section {
    height: 100%;
  }
}
.main-section__txt-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 3rem;
}
@media only screen and (max-width: 834px) {
  .main-section__txt-container {
    justify-content: start;
    padding-top: 17vw;
    height: 100%;
    width: 100%;
  }
}
.main-section__txt-container h1 {
  font-size: 5vw;
  font-weight: 200;
  position: relative;
  z-index: 7;
  color: var(--txt-color-1);
}
.main-section__txt-container h1::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 1rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: -1rem;
  background: url(../../imges/underline-green.svg);
  background-size: cover;
  filter: var(--filter-grayscale-1);
}
.main-section__links {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: #222;
  display: flex;
  align-items: center;
  font-weight: 300;
  z-index: 7;
}
@media only screen and (max-width: 834px) {
  .main-section__links {
    font-size: 1rem;
  }
}
.main-section__links span {
  padding: 0.1rem 1.2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--btn-border-1);
}
.main-section__links span svg {
  width: 1.8rem;
  position: relative;
}
.main-section__links span::before {
  position: absolute;
  content: "";
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-hover-bg-color-1);
  transition: all 0.4s ease;
}
.main-section__links:hover span::before {
  left: 0;
}

img {
  transition: transform 0.8s ease;
  cursor: pointer;
}
img:hover {
  transform: translateY(-20px);
}
